In [169]:
import os
import json
import pandas as pd
import psycopg2
import plotly.express as px
import plotly.graph_objects as go
import requests

In [170]:
#AGGRETAED TRANSACTION
path1="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list=os.listdir(path1)

columns1={'States':[], 'Years':[], 'Quarter':[], 'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for state in agg_trans_list:
    cur_states=path1+state+'/'
    agg_year_list=os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_year=cur_states+year+'/'
        agg_file_list=os.listdir(cur_year)

        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            A=json.load(data)

            for i in A['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['States'].append(state)
                columns1['Years'].append(year)
                columns1['Quarter'].append(int(file.strip('.json')))

aggre_transaction=pd.DataFrame(columns1)

In [171]:
#AGGREGATED USER
path2="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list=os.listdir(path2)

columns2={'States':[], 'Years':[], 'Quarter':[], 'Brands':[], 'Transaction_count':[], 'Percentage':[]}
for state in agg_user_list:
    cur_states=path2+state+'/'
    agg_year_list=os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_year=cur_states+year+'/'
        agg_file_list=os.listdir(cur_year)

        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            B=json.load(data)

            try:
                for i in B['data']['usersByDevice']:
                    brand=i['brand']
                    count=i['count']
                    percentage=i['percentage']
                    columns2['Brands'].append(brand)
                    columns2['Transaction_count'].append(count)
                    columns2['Percentage'].append(percentage)
                    columns2['States'].append(state)
                    columns2['Years'].append(year)
                    columns2['Quarter'].append(int(file.strip('.json')))
            except:
                pass
aggre_user=pd.DataFrame(columns2)

In [172]:
#MAP TRANSACTION
path3="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list=os.listdir(path3)

columns3={'States':[], 'Years':[], 'Quarter':[], 'Districts':[], 'Transaction_count':[], 'Transaction_amount':[]}
for state in map_tran_list:
    cur_states=path3+state+'/'
    map_year_list=os.listdir(cur_states)
    
    for year in map_year_list:
        cur_year=cur_states+year+'/'
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            C=json.load(data)

            for i in C['data']['hoverDataList']:
                name=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                columns3['Districts'].append(name)
                columns3['Transaction_count'].append(count)
                columns3['Transaction_amount'].append(amount)
                columns3['States'].append(state)
                columns3['Years'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))

map_tran=pd.DataFrame(columns3)

In [173]:
#MAP USER
path4="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path4)

columns4={'States':[], 'Years':[], 'Quarter':[], 'Districts':[], 'RegisteredUsers':[], 'AppOpens':[]}
for state in map_user_list:
    cur_states=path4+state+'/'
    map_year_list=os.listdir(cur_states)
    
    for year in map_year_list:
        cur_year=cur_states+year+'/'
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            D=json.load(data)

            for i in D['data']['hoverData'].items():
                district=i[0]
                registeredUsers=i[1]['registeredUsers']
                appOpens=i[1]['appOpens']
                columns4['Districts'].append(district)
                columns4['RegisteredUsers'].append(registeredUsers)
                columns4['AppOpens'].append(appOpens)
                columns4['States'].append(state)
                columns4['Years'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))

map_user=pd.DataFrame(columns4)

In [174]:
#TOP TRANSACTION
path5="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/top/transaction/country/india/state/"
top_tran_list=os.listdir(path5)

columns5={'States':[], 'Years':[], 'Quarter':[], 'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}
for state in top_tran_list:
    cur_states=path5+state+'/'
    top_year_list=os.listdir(cur_states)
    
    for year in top_year_list:
        cur_year=cur_states+year+'/'
        top_file_list=os.listdir(cur_year)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            E=json.load(data)

            for i in E['data']['pincodes']:
                entityName=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                columns5['Pincodes'].append(entityName)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['States'].append(state)
                columns5['Years'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))

top_tran=pd.DataFrame(columns5)

In [175]:
#TOP USER
path6="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path6)

columns6={'States':[], 'Years':[], 'Quarter':[], 'Pincodes':[], 'RegisteredUsers':[]}
for state in top_user_list:
    cur_states=path6+state+'/'
    top_year_list=os.listdir(cur_states)
    
    for year in top_year_list:
        cur_year=cur_states+year+'/'
        top_file_list=os.listdir(cur_year)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            F=json.load(data)

            for i in F['data']['pincodes']:
                name=i['name']
                registeredUsers=i['registeredUsers']
                columns6['Pincodes'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['States'].append(state)
                columns6['Years'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))

top_user=pd.DataFrame(columns6)

In [176]:
#AGGREGATED INSURANCE
path7="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/aggregated/insurance/country/india/state/"
agg_insur_list=os.listdir(path7)

columns7={'States':[], 'Years':[], 'Quarter':[], 'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}
for state in agg_insur_list:
    cur_states=path7+state+'/'
    aggr_year_list=os.listdir(cur_states)
    
    for year in aggr_year_list:
        cur_year=cur_states+year+'/'
        aggr_file_list=os.listdir(cur_year)

        for file in aggr_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            G=json.load(data)

            for i in G['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                columns7['Insurance_type'].append(name)
                columns7['Insurance_count'].append(count)
                columns7['Insurance_amount'].append(amount)
                columns7['States'].append(state)
                columns7['Years'].append(year)
                columns7['Quarter'].append(int(file.strip('.json')))

aggre_insurance=pd.DataFrame(columns7)

In [177]:
#MAP INSURANCE
path8="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/map/insurance/hover/country/india/state/"
map_insur_list=os.listdir(path8)

columns8={'States':[], 'Years':[], 'Quarter':[], 'Districts':[], 'Ins_tran_count':[], 'Ins_tran_amount':[]}
for state in map_insur_list:
    cur_states=path8+state+'/'
    map_year_list=os.listdir(cur_states)
    
    for year in map_year_list:
        cur_year=cur_states+year+'/'
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            H=json.load(data)

            for i in H['data']['hoverDataList']:
                name=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                columns8['Districts'].append(name)
                columns8['Ins_tran_count'].append(count)
                columns8['Ins_tran_amount'].append(amount)
                columns8['States'].append(state)
                columns8['Years'].append(year)
                columns8['Quarter'].append(int(file.strip('.json')))

map_insurance=pd.DataFrame(columns8)

In [178]:
#TOP INSURANCE
path9="C:/Users/Jameel Ahamed/OneDrive/Desktop/Python Pgm/Phonepe/pulse/data/top/insurance/country/india/state/"
top_insur_list=os.listdir(path9)

columns9={'States':[], 'Years':[], 'Quarter':[], 'Pincode':[], 'Ins_tran_count':[], 'Ins_tran_amount':[]}
for state in top_insur_list:
    cur_states=path9+state+'/'
    top_year_list=os.listdir(cur_states)
    
    for year in top_year_list:
        cur_year=cur_states+year+'/'
        top_file_list=os.listdir(cur_year)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')

            I=json.load(data)

            for i in I['data']['pincodes']:
                entityNameme=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                columns9['Pincode'].append(entityName)
                columns9['Ins_tran_count'].append(count)
                columns9['Ins_tran_amount'].append(amount)
                columns9['States'].append(state)
                columns9['Years'].append(year)
                columns9['Quarter'].append(int(file.strip('.json')))

top_insurance=pd.DataFrame(columns9)

In [179]:
#TABLE CREATION
mydb=psycopg2.connect(host='localhost',
                        user='postgres',
                        password='Jameel123',
                        database='phonepe_data',
                        port='5432')
cursor=mydb.cursor()

In [180]:
#AGGREGATED TRANSACTION TABLE
create_query1='''create table if not exists aggregated_transaction (State varchar(50),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Transaction_type varchar(50),
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint)'''
cursor.execute(create_query1)
mydb.commit()

for index,row in aggre_transaction.iterrows():
    insert_query1='''insert into aggregated_transaction(State,
                                                        Years,
                                                        Quarter,
                                                        Transaction_type,
                                                        Transaction_count,
                                                        Transaction_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Transaction_type'],
            row['Transaction_count'],
            row['Transaction_amount'])
    cursor.execute(insert_query1, values)
    mydb.commit()

In [181]:
#AGGREGATED USER TABLE
create_query2='''create table if not exists aggregated_user (State varchar(50),
                                                            Years int,
                                                            Quarter int,
                                                            Brands varchar(50),
                                                            Transaction_count bigint,
                                                            Percentage float)'''
cursor.execute(create_query2)
mydb.commit()

for index,row in aggre_user.iterrows():
    insert_query2='''insert into aggregated_user(State,
                                                Years,
                                                Quarter,
                                                Brands,
                                                Transaction_count,
                                                Percentage)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Brands'],
            row['Transaction_count'],
            row['Percentage'])
    cursor.execute(insert_query2, values)
    mydb.commit()

In [182]:
#MAP TRANSACTION TABLE
create_query3='''create table if not exists map_transaction (State varchar(50),
                                                            Years int,
                                                            Quarter int,
                                                            District varchar(50),
                                                            Transaction_count bigint,
                                                            Transaction_amount float)'''
cursor.execute(create_query3)
mydb.commit()

for index,row in map_tran.iterrows():
    insert_query3='''insert into map_transaction(State,
                                                Years,
                                                Quarter,
                                                District,
                                                Transaction_count,
                                                Transaction_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Districts'],
            row['Transaction_count'],
            row['Transaction_amount'])
    cursor.execute(insert_query3, values)
    mydb.commit()

In [183]:
#MAP USER TABLE
create_query4='''create table if not exists map_user (State varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        District varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query4)
mydb.commit()

for index,row in map_user.iterrows():
    insert_query4='''insert into map_user(State,
                                            Years,
                                            Quarter,
                                            District,
                                            registeredUser,
                                            AppOpens)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Districts'],
            row['RegisteredUsers'],
            row['AppOpens'])
    cursor.execute(insert_query4, values)
    mydb.commit()

In [184]:
#TOP TRANSACTION TABLE
create_query5='''create table if not exists top_transaction (State varchar(50),
                                                            Years int,
                                                            Quarter int,
                                                            pincodes int,
                                                            Transaction_count bigint,
                                                            Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

for index,row in top_tran.iterrows():
    insert_query5='''insert into top_transaction(State,
                                                Years,
                                                Quarter,
                                                pincodes,
                                                Transaction_count,
                                                Transaction_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Pincodes'],
            row['Transaction_count'],
            row['Transaction_amount'])
    cursor.execute(insert_query5, values)
    mydb.commit()

In [185]:
#TOP USER TABLE
create_query6='''create table if not exists top_user (State varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint)'''
cursor.execute(create_query6)
mydb.commit()

for index,row in top_user.iterrows():
    insert_query6='''insert into top_user(State,
                                            Years,
                                            Quarter,
                                            Pincodes,
                                            RegisteredUser)
                                            
                                            values(%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Pincodes'],
            row['RegisteredUsers'])
    cursor.execute(insert_query6, values)
    mydb.commit()

In [186]:
#AGGREGATED INSURANCE TABLE
create_query7='''create table if not exists aggregated_insurance (State varchar(50),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Insurance_type varchar(50),
                                                                    Insurance_count bigint,
                                                                    Insurance_amount bigint)'''
cursor.execute(create_query7)
mydb.commit()

for index,row in aggre_insurance.iterrows():
    insert_query7='''insert into aggregated_insurance(State,
                                                    Years,
                                                    Quarter,
                                                    Insurance_type,
                                                    Insurance_count,
                                                    Insurance_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Insurance_type'],
            row['Insurance_count'],
            row['Insurance_amount'])
    cursor.execute(insert_query7, values)
    mydb.commit()

In [187]:
#MAP INSURANCE TABLE
create_query8='''create table if not exists map_insurance (State varchar(50),
                                                            Years int,
                                                            Quarter int,
                                                            District varchar(50),
                                                            Transaction_count bigint,
                                                            Transaction_amount float)'''
cursor.execute(create_query8)
mydb.commit()

for index,row in map_insurance.iterrows():
    insert_query8='''insert into map_insurance(State,
                                                Years,
                                                Quarter,
                                                District,
                                                Transaction_count,
                                                Transaction_amount)
                                            
                                                 values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Districts'],
            row['Ins_tran_count'],
            row['Ins_tran_amount'])
    cursor.execute(insert_query8, values)
    mydb.commit()

In [188]:
#TOP INSURANCE TABLE
create_query9='''create table if not exists top_insurance (State varchar(50),
                                                            Years int,
                                                            Quarter int,
                                                            Pincodes int,
                                                            Transaction_count bigint,
                                                            Transaction_amount bigint)'''
cursor.execute(create_query9)
mydb.commit()

for index,row in top_insurance.iterrows():
    insert_query9='''insert into top_insurance(State,
                                                Years,
                                                Quarter,
                                                Pincodes,
                                                Transaction_count,
                                                Transaction_amount)
                                            
                                                 values(%s,%s,%s,%s,%s,%s)'''
    values=(row['States'],
            row['Years'],
            row['Quarter'],
            row['Pincode'],
            row['Ins_tran_count'],
            row['Ins_tran_amount'])
    cursor.execute(insert_query9, values)
    mydb.commit()